// rofi configuration
// gatoneg.ro
 
configuration {
  display-drun: "drun:";
  display-run: "run:";
  modi: "drun,run";
  kb-mode-next: "Control+Tab";
  run-shell-command: 'foot -e zsh -ic "{cmd} && read"';
  show-icons: true;
}
@theme "gato-box"
