binds {

	// Applications
    Mod+Space hotkey-overlay-title="Run: Rofi" { spawn "rofi" "-show" "drun"; }
    Mod+Shift+Space hotkey-overlay-title="Run: Command" { spawn "rofi" "-show" "run"; }
    Mod+D hotkey-overlay-title="Run: Discord" { spawn-sh "niri-rof vesktop vesktop"; }
    Mod+B hotkey-overlay-title="Run: Firefox" { spawn-sh "niri-rof firefox firefox"; }
    Mod+E hotkey-overlay-title="Run: Neovim" { spawn "foot" "--app-id" "nvim" "-e" "nvim"; }
    Mod+M hotkey-overlay-title="Run: cmus" { spawn-sh "niri-rof cmus \"foot -a cmus -e cmus\""; }
    Mod+F hotkey-overlay-title="Run: Yazi" { spawn "foot" "-a" "yazi" "-e" "yazi"; }
    Mod+Shift+F hotkey-overlay-title="Run: File Picker" { spawn "rofi" "-show" "filebrowser"; }
    Mod+F10 hotkey-overlay-title="Run: btop" { spawn-sh "niri-rof btop \"foot -a btop -w 1000x800 -e btop\""; }
    Mod+Return hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+T hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+grave hotkey-overlay-title="Window list" { spawn "rofi" "-show" "window"; }

	// Shell components
	Alt+Shift+T hotkey-overlay-title="Control Centre" { spawn "shellctl" "control-centre"; }
	Alt+Shift+N hotkey-overlay-title="Notification Centre" { spawn "shellctl" "notifications"; }
	Alt+Shift+I hotkey-overlay-title="Clipboard" { spawn "shellctl" "clipboard"; }
	Alt+Shift+E hotkey-overlay-title="Emoji" { spawn "shellctl" "emoji"; }

	// Scripts
    Alt+Shift+M { spawn "bmks"; }
    Alt+Shift+K { spawn "books"; }
    Alt+Shift+B { spawn "dmbrowser"; }
    Alt+Shift+P { spawn "niri-displays"; }
    Alt+Shift+C { spawn "rofi" "-show" "calc"; }
    Mod+F8 { spawn "rofi-mount"; }
    Mod+Shift+F8 { spawn "rofi-unmount"; }

    // Show hotkey cheatsheet
    Mod+Shift+Slash { show-hotkey-overlay; }

	// Record screen
	Mod+Shift+C hotkey-overlay-title="Record screen" { spawn "shellctl" "screen-record"; } 

    // Lock screen and power/session menu
	Alt+Shift+L hotkey-overlay-title="Lock the screen" { spawn "shellctl" "lock-screen"; } 
	Super+Shift+X hotkey-overlay-title="Session menu" { spawn "shellctl" "session-menu"; } 

	// Volume control
	XF86AudioRaiseVolume allow-when-locked=true { spawn "shellctl" "volume-up"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn "shellctl" "volume-down"; }
	XF86AudioMute        allow-when-locked=true { spawn "shellctl" "volume-mute-output"; }
	XF86AudioMicMute     allow-when-locked=true { spawn "shellctl" "volume-mute-input"; }

	// MPRIS media player control
    XF86AudioPlay allow-when-locked=true { spawn "shellctl" "mpris-play-pause"; }   
    XF86AudioStop allow-when-locked=true { spawn "shellctl" "mpris-stop"; }   
    XF86AudioPrev allow-when-locked=true { spawn "shellctl" "mpris-previous"; } 
    XF86AudioNext allow-when-locked=true { spawn "shellctl" "mpris-next"; }  

    Mod+Up allow-when-locked=true { spawn "shellctl" "mpris-play-pause"; }   
    Mod+Down allow-when-locked=true { spawn "shellctl" "mpris-stop"; }   
    Mod+Left allow-when-locked=true { spawn "shellctl" "mpris-previous"; }   
    Mod+Right allow-when-locked=true { spawn "shellctl" "mpris-next"; }   

	// Brightness
	XF86MonBrightnessUp allow-when-locked=true   { spawn "shellctl" "brightness-up"; } 
	XF86MonBrightnessDown allow-when-locked=true { spawn "shellctl" "brightness-down"; } 

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

	// Columns and monitors

	// Column focus
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

	// Move column
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

	// Navigate to start or end of workspace
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    // Monitor focus
    Mod+Period { focus-monitor-right; }
	Mod+Comma  { focus-monitor-left; }

	// Move colum to monitor
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

	// Workspaces
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+Ctrl+J         { move-workspace-down; }
    Mod+Shift+Ctrl+K         { move-workspace-up; }

    // Mouse wheel
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

	// Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Switches focus between the current and the previous workspace.
    Mod+Tab { focus-workspace-previous; }

	// Consume/expel windows
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Shift+BracketLeft { consume-window-into-column; }
    Mod+Shift+BracketRight { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Y { maximize-column; }
    Mod+Shift+Y { fullscreen-window; }
    Mod+Ctrl+Shift+Y { toggle-windowed-fullscreen; }

    // Expand the focused column to space not taken up by other fully visible columns.
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Shift+Print { spawn "flameshot" "gui"; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+P { screenshot; }
    Mod+Ctrl+P { screenshot-window; }
    Mod+Alt+P { screenshot-screen; }
    Mod+Ctrl+Shift+P { spawn "flameshot" "gui"; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}

