// Niri - config.kdl
// gatoneg.ro

// Environment
environment {
	ELECTRO_OZONE_PLATFORM_HINT "auto"
	QT_QPA_PLATFORM "wayland"
	QT_QPA_PLATFORMTHEME "gtk3"
	QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
	WAYLAND_SHELL "noctalia"
	XDG_CURRENT_DESKTOP "niri"
}

blur {
  passes 2        // more passes = stronger blur (default: 3)
  offset 7.0      // sample distance per pass (default: 3.0)
  noise 0.02      // grain overlay (default: 0.02)
  saturation 0.8  // color saturation boost (default: 1.5)
}

layout {
    gaps 6
	background-color "transparent"
    // center-focused-column "on-overflow"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
		proportion 1.0
	}

    default-column-width { proportion 0.5; }

    focus-ring {
        off
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 10
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

spawn-at-startup "qs" "-c" "noctalia-shell" "--no-duplicate"
spawn-at-startup "jamesdsp" "-t"
spawn-sh-at-startup "ffplay -v 0 -nodisp -autoexit $XDG_CONFIG_HOME/startup.ogg"
spawn-at-startup "niri-tile-to-n"

hotkey-overlay {
    skip-at-startup
}

switch-events {
	lid-close { spawn "shellctl" "lock-screen"; }
}

prefer-no-csd

screenshot-path "~/pictures/screenshots/%Y-%m-%d_%H-%M-%S.png"

// Workspaces
workspace "browser"
workspace "discord"
workspace "gaming"

// Window rules
debug {
  honor-xdg-activation-with-invalid-serial
}

include "input.kdl"
include "outputs.kdl"
include "binds.kdl"
include "rules.kdl"
include "noctalia.kdl"
