layer-rule {
    match layer="top"
    match layer="overlay"
    background-effect {
        xray false
    }
}
window-rule {
	draw-border-with-background false
	match app-id=r#"firefox$"# 
	open-on-workspace "browser"
}

window-rule {
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	open-floating true
	default-floating-position x=6 y=6 relative-to="bottom-right"
	default-window-height { proportion 0.25; }
	default-column-width { proportion 0.25; }
}

window-rule {
	match app-id="vesktop" 
	match app-id="discord" 
	draw-border-with-background false
	open-on-workspace "discord"
	open-maximized true
	open-focused false
	opacity 0.9
	background-effect {
		blur true
		xray false
	}
}

window-rule {
	match app-id=r#"steam"# 
	open-on-workspace "gaming"
	open-maximized true
	open-focused false
}

window-rule {
	match app-id="org.duckstation.DuckStation" 
	match app-id="pcsx2-qt" 
	open-on-workspace "gaming"
	open-maximized true
}

// window-rule {
// 	match app-id="btop"
// 	open-floating true
// }

window-rule {
	match app-id=r#"gimp"#
	match app-id="Inkscape"
	match app-id="affinity.exe"
	open-maximized true
}

window-rule {
	match app-id=r#"^org\.gnome\."#
	draw-border-with-background false
	geometry-corner-radius 12
	clip-to-geometry true
}

window-rule {
	match app-id=r#"^org\.wezfurlong\.wezterm$"#
	match app-id="Alacritty"
	match app-id="zen"
	match app-id="com.mitchellh.ghostty"
	match app-id="foot"
	match app-id="yazi"
	match app-id="cmus"
	match app-id="btop"
	draw-border-with-background false
	background-effect {
		xray false
	}
}

// Generic blur rule

window-rule {
	match app-id="org.pwmt.zathura"
	background-effect {
	  blur true
	  xray false
	}
}

window-rule {
	geometry-corner-radius 0
	clip-to-geometry true
}

// Open Quickshell windows as floating by default
window-rule {
	match app-id=r#"org.quickshell$"#
	match app-id=r#"dev.noctalia.noctalia-qs$"#
	open-floating true
}

// Set the overview wallpaper on the backdrop.
layer-rule {
	match namespace="^noctalia-overview*" // Noctalia
	place-within-backdrop true
}
