window-rule {
	match app-id=r#"firefox$"# 
	open-on-workspace "browser"
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	// match app-id="flameshot"
    open-floating true
    default-floating-position x=6 y=6 relative-to="bottom-right"
	default-window-height { proportion 0.25; }
	default-column-width { proportion 0.25; }
}

window-rule {
	match app-id="vesktop" 
	open-on-workspace "discord"
	open-maximized true
	open-focused false
}

window-rule {
	match app-id=r#"steam"# 
	open-on-workspace "gaming"
	open-maximized true
	open-focused false
}

window-rule {
	match app-id="btop"
	open-floating true
}

window-rule {
	match app-id=r#"gimp"#
	match app-id="Inkscape"
	match app-id="affinity.exe"
	open-maximized true
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="foot"
    draw-border-with-background false
}

window-rule {
    match is-active=false
    opacity 1.0
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

// Open Quickshell windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    match app-id=r#"dev.noctalia.noctalia-qs$"#
    open-floating true
}

// Set the overview wallpaper on the backdrop.
layer-rule {
	match namespace="^noctalia-overview*" // Noctalia
	place-within-backdrop true
}
