/* gatoneg.ro */

:root.TridactylThemeGatonegro {
    --tridactyl-bg: var(--tridactyl-firefox-2021-redesign-background);
	--tridactyl-status-border-radius: 0px !important;
	--tridactyl-cmdl-bg: var(--tridactyl-firefox-2021-redesign-background);
    --tridactyl-cmdl-fg: var(--tridactyl-fg);
    --tridactyl-cmplt-border-top: 1px solid var(--tridactyl-firefox-2021-redesign-background);
    --tridactyl-fg: #ffffff;
    --tridactyl-firefox-2021-redesign-background: #111111;
    --tridactyl-header-first-bg: #111111;
    --tridactyl-header-second-bg: var(--tridactyl-header-first-bg);
    --tridactyl-header-third-bg: var(--tridactyl-header-first-bg);
    --tridactyl-highlight-box-bg: var( --tridactyl-photon-colours-in-content-box-background);
    --tridactyl-highlight-box-fg: var( --tridactyl-photon-colours-in-content-text-color);
    --tridactyl-hint-active-bg: rgba(255,255,255,0.25);
    --tridactyl-hint-active-fg: #333333;
    --tridactyl-hint-active-outline: 0px solid rgba(0,0,0,0);
    --tridactyl-hint-bg: rgba(0,0,0,0);
    --tridactyl-hint-outline: 0px solid rgba(0,0,0,0);
    --tridactyl-hintspan-bg: #333333;
    --tridactyl-hintspan-fg: var(--tridactyl-fg);
    --tridactyl-of-bg: #373737;
    --tridactyl-of-fg: #ffffff;
    --tridactyl-scrollbar-color: var(--tridactyl-fg);
    --tridactyl-url-bg: var(--tridactyl-firefox-2021-redesign-background);
    --tridactyl-url-fg: #a9a9a9;
    --tridactyl-cmdl-font-family: monospace !important;
    --tridactyl-cmplt-font-family: monospace !important;
	/* backdrop-filter: blur(25px); */
}

:root.TridactylThemeGatonegro #tridactyl-reader { font-family: serif; }

:root.TridactylThemeGatonegro #cmdline_iframe {
    color-scheme: only light; /* Prevent Firefox from adding a white background on dark-mode sites */
	opacity: 0.97;
}
