/* gatonegro.css - colourscheme for tridactyl */
/* based on the default midnight.css */
/* gatoneg.ro */

:root {
    --tridactyl-font-family: sans-serif;
    --tridactyl-bg: rgba(10, 10, 32, 0.75); 
    --tridactyl-fg: #c1c1d1;

    --tridactyl-status-font-size: 12px;
    --tridactyl-status-font-family: sans-serif;
    /* --tridactyl-status-font-bg: var(--tridactyl-cmdl-bg); */
    --tridactyl-status-font-bg: #0a0a20 !important;
    --tridactyl-status-border: 2px solid #0a0a20;
    --tridactyl-status-border-radius: 4px;

    --tridactyl-header-font-size: 14px;
    
    --tridactyl-of-fg: #c1c1e1;
    --tridactyl-of-bg: #262639;

    --tridactyl-hintspan-fg: #c1c1d1;
    --tridactyl-hintspan-bg: #00ffe0;

    --tridactyl-hint-active-fg: #363649;
    --tridactyl-hint-active-bg: #58aa99;
    --tridactyl-hint-active-outline: 1px solid #0a0a20;

    --tridactyl-hint-bg: rgba(10, 10, 32, 0.50);
    --tridactyl-hint-outline: 1px solid var(--tridactyl-hintspan-bg);

    --tridactyl-cmdl-font-size: 1.25rem;
    --tridactyl-cmplt-option-height: 1.9em;
    
    --tridactyl-border-radius: 4px;
	--tridactyl-url-fg: #00ffe0;

	color-scheme: dark !important;
}

:root.TridactylOwnNamespace {
    scrollbar-width: thin;
}

:root.TridactylOwnNamespace a {
    color: #ff00aa;
}

:root.TridactylOwnNamespace code {
    background-color: #363649;
    padding: 3px 7px;
}

:root #command-line-holder {
    order: 1;
	background-color: var(--tridactyl-bg) !important;
}

:root #command-line-holder, :root #tridactyl-input {
    border-radius: var(--tridactyl-border-radius) !important;
}

:root #tridactyl-colon::before {
    content: "";
}

:root #tridactyl-input {
    width: 96%;
    padding: 1rem;
	background-color: var(--tridactyl-bg) !important;
	font-size: 1.5em;
}

:root #completions table {
    font-weight: 400;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 0;
}

:root #completions > div {
    max-height: calc(20 * var(--tridactyl-cmplt-option-height));
    min-height: calc(10 * var(--tridactyl-cmplt-option-height));
}

:root #completions {
    border: none !important;
    font-family: var(--tridactyl-font-family);
    order: 2;
    margin-top: 10px;
    border-radius: var(--tridactyl-border-radius);
}

:root #completions .HistoryCompletionSource table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}


:root #completions .BufferCompletionSource table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

:root #completions table tr .title {
    width: 50%;
}

:root #completions tr .documentation {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

:root #completions .sectionHeader {
    background: transparent;
    padding: 1rem 1rem 0.4rem !important;
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    filter: drop-shadow(0px 0px 20px #000000) !important;
}

:root .TridactylStatusIndicator {
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    font-weight: 200 !important;
    padding: 5px !important;
}
