startup_commands                     toggle_custom_color

# config
case_sensitive_search                0
collapsed_toc                        1
multiline_menus                      1
sort_bookmarks_by_location           1
ui_font                              monospace

# search engines
middle_click_search_engine           s
search_url_s                         https://scholar.google.com/scholar?hl=en&q= 
search_url_l                         https://libgen.rs/search.php?req=

# colours
default_dark_mode                           1
background_color                            #0a0a15
dark_mode_background_color                  #0a0a15
custom_color_mode_empty_background_color    #0a0a15
custom_background_color                     #0a0a15
custom_text_color                           #c1c1e1
status_bar_color                            #0a0a15 
status_bar_text_color                       #c1c1e1 
ui_background_color                         #0a0a15 
ui_selected_text_color                      #00ffe0
ui_selected_background_color                #0a0a15
ui_text_color                               #c1c1e1
