startup_commands                     toggle_custom_color

# config
case_sensitive_search                0
collapsed_toc                        1
multiline_menus                      1
sort_bookmarks_by_location           1
ui_font                              monospace

# search engines
middle_click_search_engine           s
search_url_s                         https://scholar.google.com/scholar?hl=en&q= 
search_url_l                         https://libgen.rs/search.php?req=

# colours
default_dark_mode                    1
background_color                     0.75 0.75 0.82
dark_mode_background_color           0.04 0.04 0.08
custom_background_color              0.04 0.04 0.08
custom_text_color                    0.75 0.75 0.82
status_bar_color                     0.04 0.04 0.08
status_bar_text_color                0.75 0.75 0.82
ui_background_color                  0.04 0.04 0.08
ui_selected_text_color               0 1 0.87
ui_selected_background_color         0.04 0.04 0.08
ui_text_color                        0.75 0.75 0.82

# extensions
new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}
